<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>採点確認</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link th:href="@{/css/dark-theme-3.css}" rel="stylesheet"
	type="text/css">
<!-- 共通のスタイル -->
<link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
</head>
<body>
	<!-- ヘッダーを読み込む -->
	<div th:replace="common/header :: header"></div>
	<div class="container">
		<h1 class="mt-5">採点してもよろしいですか？</h1>
		<div class="row mt-4">
			<!-- 左端に配置する「前に戻る」ボタン -->
			<div class="col text-left">
				<form action="/quiz/question/last" method="get">
					<button type="submit" class="btn btn-secondary">前に戻る</button>
				</form>
			</div>
			<!-- 右端に配置する「採点する」ボタン -->
			<div class="col text-right">
				<form action="/quiz/check-answer" method="get">
					<button type="submit" class="btn btn-primary">採点する</button>
				</form>
			</div>
		</div>
	</div>
	<!-- フッターを読み込む -->
	<div th:replace="common/footer :: footer"></div>
</body>
</html>
